!--------------------xdefauls
URxvt.font: xft:DejaVu Sans Mono:size=12
urxvt*termName: rxvt
urxvt*scrollBar: false
urxvt*matcher.button: 1
urxvt.boldFont:
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: full
URxvt*geometry: 85x20
*internalBorder: 23

urxvt*transparent: true
urxvt*shading: 30
